/*!
 *  My css
 * -------------------------- */
html{background-color:#e6e6e6;}
body{background-color:#fff;
	padding:2%;width:80%;margin: 0 auto;display:table;
}
aside{
background: #909DA6;
padding: 0.3em 1em;
border-radius: 3px;
color: #fff;
}

content-box{
background: #F2F2F2;
border: #F2F2F2;
padding: 0.3em 1em;
border-radius: 3px;
color: #000000;
}


a{color:blue;}
a:visited{color:#565656;}
body>header,body>div{
	
	
	}

.small-font{
font-size: 0.8em;
}
.button{
	
}

#loginForm{
float: left;
position: relative;
z-index: 100000;
background: lightgrey;
left: -139.6%;
padding: 26%;
width: 196%;
}

.upper-corner{
    position: absolute;
    bottom: 90%;
    left: 90%;
}

.clear{
	clear:both;
}

.hiden{
    display:none;
}
.nodisplay-menu{
    display:none!important;
}
.fsize-stack {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1%;
  line-height: 1%;
  vertical-align: middle !important;
}
.float-right{
	float:right;
}

.v-align-box{
    vertical-align: middle !important;
    margin-top: 0% !important;
    padding-top: 0% !important;
}
.align-right{
    vertical-align:right;
}

.l-box {
    padding: 5%;
}

.padding-content-box-bottom {
    padding-bottom: 0.5%;
}
.padding-content-box-top {
    padding-bottom: 0.5%;
}
.padding-content-box-left {
    padding-bottom: 0.5%;
}
.padding-content-box-right {
    padding-bottom: 0.5%;
}
.padding-content-box {
    padding: 1%;
}

.left-padding {
    padding-left: 1%;
}
.left-padding-2x {
    padding-left: 20%;
}

.full-width {
    width: 100%;
}
.inline{
	display:inline;
}
.margin-top-2{
	margin-top:5%;
}
.margin-left-2{
	margin-left:4%;
}
.margin-right-4{
	margin-left:4%;
}
.block{display:block;}
.margin-2{margin:2%;}

/*.font-size{display:none;} */

.menu-list{}
.menu-list>li{display:table-cell; width:11.05%;}

.menu-small-width{
width:5% !important;
}
.menu-large-width{
width:17.6% !important;
}
.menu{
	margin: 1% 0;
}
.content{
	margin-left:3%;
}
.content h2{
	text-align:center;
}


/* Mega menu css */
     /* Rudimentary mega menu CSS for demonstration */    

        /* mega menu list */
        .nav-menu {
            display: block;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
            z-index: 15;
        }

        /* a top level navigation item in the mega menu */
        .nav-item {
            list-style: none;
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        /* first descendant link within a top level navigation item */
        .nav-item > a {
            position: relative;
            display: inline-block;
            padding: 0.5em 1em;
            margin: 0 0 -1px 0;
            border: 1px solid transparent;
        }

        /* focus/open states of first descendant link within a top level 
           navigation item */
        .nav-item > a:focus,
        .nav-item > a.open {
            border: 1px solid #dedede;
        }

        /* open state of first descendant link within a top level 
           navigation item */
        .nav-item > a.open {
            background-color: #fff;
            border-bottom: none;
            z-index: 1;
        }

        /* sub-navigation panel */
        .sub-nav {
            position: absolute;
            display: none;
            top: 2.2em;
            margin-top: -1px;
            padding: 0.5em 1em;
            border: 1px solid #dedede;
            background-color: #fff;
        }

        /* sub-navigation panel open state */
        .sub-nav.open {
            display: block;
        }

        /* list of items within sub-navigation panel */
        .sub-nav ul {
            display: inline-block;
            vertical-align: top;
            margin: 0 1em 0 0;
            padding: 0;
        }

        /* list item within sub-navigation panel */
        .sub-nav li {
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }     